@import "tailwindcss";

* {
  box-sizing: border-box;
}

@layer utilities {
  .input-style {
    @apply px-4 py-2 border-[1px] border-gray-400 focus:border-red-400 rounded-md outline-none;
  }
  .primary-btn {
    @apply bg-orange-500 text-white px-4 py-2 rounded-md hover:bg-orange-600 duration-200;
  }
}

@layer base {
  .container {
    padding: 10px 40px;
  }
  .img-shadow {
    filter: drop-shadow(40px 50px 25px #0f1115);
  }
  .img-shadow-2 {
    filter: drop-shadow(10px 30px 15px #3030307a);
  }
}
